<div class="todo-container">

    <div class="container-fluid">
        <div class="row no-padding">
            <div class="col-xs-12 todo-input-container">
                <i class="fa fa-chevron-down" 
                   ng-click="vm.checkAll()"></i>

                <input type="textbox" placeholder="What needs to be done?"
                       ng-model="vm.todoNewText" 
                       ng-keypress="vm.addTodo(vm.todoNewText, $event)" />
            </div>
            <div class="col-xs-12 todo-list-container">
                
                <div class="todo-item checkbox checkbox-circle checkbox-success"
                     ng-repeat="todo in vm.todoList | todoFilter: vm.type">

                    <input type="checkbox"
                           ng-click="vm.updateTodo(todo)" 
                           ng-model="todo.completed" />

                    <label ng-class="{'completed': todo.completed}">{{todo.name}}</label>

                    <i class="fa fa-times pull-right"
                       ng-click="vm.removeTodo(todo)"></i>
                </div>
                
            </div>
        </div>
    </div>

    <footer class="container-fluid">
        <div class="pull-left">
            {{vm.noOfActive()}} item<span ng-if="vm.noOfActive() !== 1">s</span> left
        </div>
        <div class="pull-right">
            <a ng-click="vm.clearCompleted()" href="#">Clear completed</a>
        </div>        
        <ul>
            <li><a ng-class="{'active': vm.type === 'all'}" ui-sref="todo({'type': 'all'})">All</a></li>
            <li><a ng-class="{'active': vm.type === 'active'}" ui-sref="todo({'type': 'active'})">Active</a></li>
            <li><a ng-class="{'active': vm.type === 'completed'}" ui-sref="todo({'type': 'completed'})">Completed</a></li>
        </ul>
    </footer>
</div>